div.loading {
	text-align: center;
	font-size: 30px;
}
#click {
	display: block;
	width: 180px;
	margin: 50px auto;
	text-align: center;
	font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑",SimSun, "宋体", sans-serif;
	font-size: 30px;
	line-height: 100px;
	border-radius: 10px;
	border:1px solid #737373;
	color:#737373;
}

.container {
	text-align: center;
	margin: 0 auto;
}

.play_area {
	text-align: left;
	margin: 0 auto ;
	width: 100%;
	padding-bottom: 100%;
	background-color: #bbada0;
	border-radius: 5px;
	-moz-user-select:none;/*火狐*/
	-webkit-user-select:none;/*webkit浏览器*/
	-ms-user-select:none;/*IE10*/
	-khtml-user-select:none;/*早期浏览器*/
	user-select:none;
	cursor: default;
	overflow: hidden;
	position: relative;
}
.row0,.row1,.row2,.row3 {
	margin-top: 2.56%;
	width: 97.435%;
	position: absolute;
}
.row1{
	top:24.359%;
}
.row2{
	top:48.71%;
}
.row3{
	top:73.077%;
}
.grid {
	display: inline-block;
	position: relative;
	width: 22.368%;
	padding-bottom: 22.368%;
	background-color: #ccc0b3;
	border-radius: 10px;
	margin-left: 2.631%;
}

.card {
	display: inline-block;
	border-radius: 10px;
	text-align: center;
	font-size: 32px;
	font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑",SimSun, "宋体", sans-serif;
	font-weight: bold;
	line-height: 85px;
	color: #828282;
	z-index: 2;
	width: 100px;
	height: 100px;
	-webkit-transition: 0.15s;
	-moz-transition: 0.15s;
	-o-transition: 0.15s;
	-ms-transition: 0.15s;
	transition: 0.15s;
	position: absolute;
}

.cardInside {
	width: 100px;
	height: 100px;
	background-color: #eee4da;
	border-radius: 10px;
}

.appear {
	-webkit-animation:appear 0.15s;
	-moz-animation:appear 0.15s;
	-o-animation:appear 0.15s;
	/*-ms-animation:appear 0.15s;*/
	animation:appear 0.15s;
}
@-webkit-keyframes appear {
	0% {-webkit-transform: scale(0) ;}
	100% {-webkit-transform: scale(1) ;}
}
@-moz-keyframes appear {
	0% {-moz-transform: scale(0) ;}
	100% {-moz-transform: scale(1) ;}
}
@-o-keyframes appear {
	0% {-o-transform: scale(0) ;}
	100% {-o-transform: scale(1) ;}
}
@-ms-keyframes appear {
	0% {-ms-transform: scale(0) ;}
	100% {-ms-transform: scale(1) ;}
}
@keyframes appear {
	0% {transform: scale(0) ;}
	100% {transform: scale(1) ;}
}

.pop {
	-webkit-animation:pop 0.3s;
	-moz-animation:pop 0.3s;
	-o-animation:pop 0.3s;
	-ms-animation:pop 0.3s;
	animation:pop 0.3s;
}
@-webkit-keyframes pop {
	0% {-webkit-transform: scale(1) ;}
	50% {-webkit-transform: scale(1);}
	75% {-webkit-transform: scale(1.2);}
	100% {-webkit-transform: scale(1) ;}
}
@-moz-keyframes pop {
	0% {-moz-transform: scale(1) ;}
	50% {-moz-transform: scale(1);}
	75% {-moz-transform: scale(1.2);}
	100% {-moz-transform: scale(1) ;}
}
@-o-keyframes pop {
	0% {-o-transform: scale(1) ;}
	50% {-o-transform: scale(1);}
	75% {-o-transform: scale(1.2);}
	100% {-o-transform: scale(1) ;}
}
@-ms-keyframes pop {
	0% {-ms-transform: scale(1) ;}
	50% {-ms-transform: scale(1);}
	75% {-ms-transform: scale(1.2);}
	100% {-ms-transform: scale(1) ;}
}
@keyframes pop {
	0% {transform: scale(1) ;}
	50% {transform: scale(1);}
	75% {transform: scale(1.2);}
	100% {transform: scale(1) ;}
}

.num2 {background-color: #eee4da;background-image: url(2.gif);background-size:contain;}
.num4 {background-color: #ede0c8;background-image: url(4.gif);background-size:contain;}
.num8 {background-color: #f2b179;color:#f9f6f2;background-image: url(8.gif);background-size:contain;}
.num16 {background-color: #f59563;color:#f9f6f2;background-image: url(16.gif);background-size:contain;}
.num32 {background-color: #f67c5f;color:#f9f6f2;background-image: url(32.gif);background-size:contain;}
.num64 {background-color: #f65e3b;color:#f9f6f2;background-image: url(64.gif);background-size:contain;}
.num128 {background-color: #edcf72;color:#f9f6f2;background-image: url(128.gif);background-size:contain;}
.num256 {background-color: #edcc61;color:#f9f6f2;background-image: url(256.gif);background-size:contain;}
.num512 {background-color: #edc850;color:#f9f6f2;background-image: url(512.gif);background-size:contain;}
.num1024 {background-color: #edc53f;color:#f9f6f2;background-image: url(1024.gif);background-size:contain;}
.num2048 {background-color: #edc22e;color:#f9f6f2;background-image: url(2048`.gif);background-size:contain;}

.hid {
	display: none;
}

.card_container {
	position: absolute;
}


div.container {
	visibility:hidden;
}